# Ambientes Virtuais
.venv/
venv/
env/

# Ficheiros de Cache do Python
__pycache__/
*.pyc

# Ficheiros de Cache e Configuração de Editores
.cache/
.idea/
.vscode/

# Ficheiros de Base de Dados local (se usar)
*.sqlite3
db.sqlite3

# Ficheiros de Mídia e Estáticos coletados
/media/
/staticfiles/

# Logs e outros ficheiros temporários
*.log
local_settings.py

# Ficheiros de dependências do sistema operativo
.DS_Store
Thumbs.db
