
# -----------------------
# Ambientes Virtuais
# Arquivos de segurança
# Arquivos Estáticos e Mídia
# Arquivos sensíveis
backup_*.json
backups/
# Banco de Dados
build/
.cache/
# Cache e temporários
# Configurações Locais
database_credentials.txt
db.sqlite3
development.env
dist/
.DS_Store
*.dump
# Editores/IDE
*.env
env/
.env.development
.env.local
.idea/
# IDEs
local_settings.py
*.log
logs/
# Logs e temporários
/media/
*.mo
.next/
# Node / Frontend
node_modules/
nohup.out
npm-debug.log
*.pdb
*.pot
*.pyc
__pycache__/
*.py[cod]
*.pyd
*.pyo
# Python
.Python
secret_key.txt
security/
# Sistema
# SO
*.sqlite3
/static/admin/
/staticfiles/
# Swap files
*.swo
*.swp
Thumbs.db
.venv/
venv/
.vscode/
yarn-debug.log
yarn-error.log
